div{
    border: solid;
    border-width:thin;
    /* background-color: black; */
    color: grey;
    background-color: white;

}

header{
    margin-bottom: 10pts;
    padding: 20pts;
    text-align: center;
    background-color: white;
}

body{
    background-image: url(../images/diagonal-squares.png);
    color: grey;
}