div{
    border: solid;
    border-width:thin;
    /* background-color: black; */
    color: grey;
    background-color: white;
    border-radius: 25px;

}

header{
    

    text-align: center;
    background-color: white;
    margin: 5%;
    border-radius: 25px;
    padding:1%;
}

body{
    background-image: url(../images/diagonal-squares.png);
    color: grey;
}

p{
    font-weight: bold;
}
#wrapper{
    margin-bottom: 5%;
    border-radius: 25px;
    background-image: url(../images/diagonal-squares.png);
    margin:5%;
}

#start{
    margin:1%;
}